[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/modular-account"]
	path = lib/modular-account
	url = https://github.com/alchemyplatform/modular-account
[submodule "lib/webauthn-sol"]
	path = lib/webauthn-sol
	url = https://github.com/base-org/webauthn-sol
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
