# foundry
cache/
out/
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/**/run-latest.json
docs/
lcov.info

.env
.vscode/
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
.DS_Store
*.log
